In [29]:
import pandas as pd
df = pd.read_excel('tot.xlsx')
df

,Date,City,Lat,Long,Region,Rain,Temp
0,2014-10-01,Anzola dell'Emilia,44.547351,11.195630,Emialia Romagna,0.1,25.2400
1,2014-10-05,Anzola dell'Emilia,44.547351,11.195630,Emialia Romagna,0.1,24.8350
2,2014-10-06,Anzola dell'Emilia,44.547351,11.195630,Emialia Romagna,0.1,25.1625
3,2014-10-07,Anzola dell'Emilia,44.547351,11.195630,Emialia Romagna,0.9,25.7550
4,2014-10-08,Anzola dell'Emilia,44.547351,11.195630,Emialia Romagna,0.1,25.3400
...,...,...,...,...,...,...,...
266657,2018-07-18,Verucchio,43.983324,12.422965,Emialia Romagna,0.2,24.6450
266658,2018-07-22,Verucchio,43.983324,12.422965,Emialia Romagna,0.1,23.6950
266659,2018-07-23,Verucchio,43.983324,12.422965,Emialia Romagna,0.1,24.0500
266660,2018-07-24,Verucchio,43.983324,12.422965,Emialia Romagna,0.4,24.2925
266661,2018-07-25,Verucchio,43.983324,12.422965,Emialia Romagna,0.1,23.5650

In [30]:
df['Lat'] = df['Lat'].round(6)
df['Lat'] = df['Lat'].astype(str)
df['Lat'] = [x.replace('.', ',') for x in df['Lat']]
#df['Lat'] = df['Lat'].astype(float)
df

,Date,City,Lat,Long,Region,Rain,Temp
0,2014-10-01,Anzola dell'Emilia,"44,547351",11.195630,Emialia Romagna,0.1,25.2400
1,2014-10-05,Anzola dell'Emilia,"44,547351",11.195630,Emialia Romagna,0.1,24.8350
2,2014-10-06,Anzola dell'Emilia,"44,547351",11.195630,Emialia Romagna,0.1,25.1625
3,2014-10-07,Anzola dell'Emilia,"44,547351",11.195630,Emialia Romagna,0.9,25.7550
4,2014-10-08,Anzola dell'Emilia,"44,547351",11.195630,Emialia Romagna,0.1,25.3400
...,...,...,...,...,...,...,...
266657,2018-07-18,Verucchio,"43,983324",12.422965,Emialia Romagna,0.2,24.6450
266658,2018-07-22,Verucchio,"43,983324",12.422965,Emialia Romagna,0.1,23.6950
266659,2018-07-23,Verucchio,"43,983324",12.422965,Emialia Romagna,0.1,24.0500
266660,2018-07-24,Verucchio,"43,983324",12.422965,Emialia Romagna,0.4,24.2925
266661,2018-07-25,Verucchio,"43,983324",12.422965,Emialia Romagna,0.1,23.5650

In [31]:
df['Long'] = df['Long'].round(6)
df['Long'] = df['Long'].astype(str)
df['Long'] = [x.replace('.', ',') for x in df['Lat']]
#df['Lat'] = df['Lat'].astype(float)
df

,Date,City,Lat,Long,Region,Rain,Temp
0,2014-10-01,Anzola dell'Emilia,"44,547351","44,547351",Emialia Romagna,0.1,25.2400
1,2014-10-05,Anzola dell'Emilia,"44,547351","44,547351",Emialia Romagna,0.1,24.8350
2,2014-10-06,Anzola dell'Emilia,"44,547351","44,547351",Emialia Romagna,0.1,25.1625
3,2014-10-07,Anzola dell'Emilia,"44,547351","44,547351",Emialia Romagna,0.9,25.7550
4,2014-10-08,Anzola dell'Emilia,"44,547351","44,547351",Emialia Romagna,0.1,25.3400
...,...,...,...,...,...,...,...
266657,2018-07-18,Verucchio,"43,983324","43,983324",Emialia Romagna,0.2,24.6450
266658,2018-07-22,Verucchio,"43,983324","43,983324",Emialia Romagna,0.1,23.6950
266659,2018-07-23,Verucchio,"43,983324","43,983324",Emialia Romagna,0.1,24.0500
266660,2018-07-24,Verucchio,"43,983324","43,983324",Emialia Romagna,0.4,24.2925
266661,2018-07-25,Verucchio,"43,983324","43,983324",Emialia Romagna,0.1,23.5650

In [32]:
df.to_excel('tot_converted.xlsx')